*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav-bar{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 3.5rem;
	box-shadow:0px 9px 15px 0px rgba(50, 50, 50, 0.2);
}

.logo{
	margin-left: 1.5rem;
	font-family: sans-serif;
	font-weight: 600;
	color: #454545;
}


.container{
	display: flex;
	flex-direction: column;
	float: left;
	align-items: center;
	position: relative;
	width: 35%
}

.background{
	display: flex;
	width: 450px;
	height: 450px;
	background-color: #eee;
    position: relative;
	top: 5rem;
	left: 5rem;
	align-items: center;
	justify-content: center;
}

.box{
 width: 300px;
height: 300px;
	background-color: #F56C6C;
box-shadow:0px 8px 20px 0px rgba(50, 50, 50, 0.3);
}

.color-prop{
	position: absolute;
	top: 35rem;
	border: 1.5px solid #121212;
	padding: 1.7rem 1.5rem;
	right: 2.5rem;
	color: #454545;
	font-weight: bold;
	font-family: sans-serif;
	width: 17rem;
	
}
input[type=color]{
	border-radius: 0;
}

input[type=number] {
    padding: 3px 4px;
}




.box-color{
	font-size: 1rem;
	margin-bottom: 1rem;
}

.settings{
	display: flex;
	flex-direction: column;
	float: right;
	align-items: center;
	 position: relative;
	top: 5rem;
	right: 5rem;
	font-family: sans-serif;
	font-weight: bold;
	 color: #454545;
	font-size: 1.3rem;
	width: 35%;
	
}

.input{
	margin: 35px;
}

.generated-css-container{
	background-color: #121212;
	color: #fff;
	border-radius: 22px;
    box-shadow:0px 10px 8px 0px rgba(50, 50, 50, 0.2);
}

#generated-css{
	font-family: "open-sans", sans-serif;
	font-size: .9rem;
	padding: .9rem 1.2rem;
}

input{
	border: 1px solid #707070;
	 width: 1rem;
	padding: 3px;
	padding-left: 5px;
	border-radius: 10px;
	outline: none;
	float: right;
	width: 20%;
}



















